body {
    margin: 0;
    background: #000;
    overflow: hidden;
}
.main {
    width: 1920px;
    height: 1080px;
    overflow: hidden;
    text-align: center;
}
.monitorMessage {
    color: #eee;
    font-size: 40px;
    line-height: 60px;
    text-align: center;
    width: 100%;
    font-family: Helvetica;
}
