body {
    margin: 0;
    background: #000;
}
.anagramTextInput {
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
}
.backgroundImage {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('http://i.imgur.com/Uwy8J.jpg');
    background-size: 1280px 800px;
    opacity: .25;
    z-index: -1;
}
.main {
    height: 800px;
}
.letter {
    font-family: 'Futura', sans-serif;
    font-size: 56px;
}
.header {
    font-family: 'Futura', sans-serif;
    font-size: 28px;
    fill: #ccc;
    letter-spacing: 8px;
}
