body {
    pointer-events: all !important;
}

.main {
    position: relative;
    margin: 15px 30px;
}

.monitorCell {
    position: absolute;
    width: 123px;
    height: 98px;
    border: 2px solid #555;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
}

.monitorName {
    margin: 3px 0 0;
    font-size: 20px;
    line-height: 22px;
    font-family: "Pragati Narrow", "Helvetica";
    color: #aaa;
}

.monitorValue {
    margin: 4px 0 0;
    font-size: 36px;
    font-family: "Lato", "Helvetica";
    color: #eee;
    line-height: 36px;
}

input[type=text] {
    border: none;
    font-family: "Lato", "Helvetica";
    font-size: 24px;
    background: #222;
    color: #fff;
}

.monitorStatus {
    border-radius: 10px;
    border: 1px solid transparent;
    letter-spacing: 2px;
    margin: 5px 5px 0;
    padding: 2px;
    font-size: 15px;
    font-family: "Lato", "Helvetica";
    line-height: 17px;
}

.notApplicable, .inactive {
    color: #eee;
}

.inactive, .active, .smooth {
    border: 1px solid #39e;
}

.active {
    background-color: #2ae;
    color: #000;
}

.smooth {
    background-color: #46e;
    color: #000;
}

.tab {
    font-size: 15px;
    font-family: "Lato", "Helvetica";
    font-weight: bold;
    color: #aaa;
    cursor: pointer;
    display: inline-block;
    padding: 8px 30px;
    background-color: #222;
}

.tab.sel {
    background-color: #666;
    color: #ccc;
}
