body {
    pointer-events: all !important;
}

.line {
    fill: none;
    stroke: #fff;
    stroke-width: 0.1px;
}

.mine {
    stroke: #000;
    stroke-width: 0.02px;
}

.edge {
    stroke-width: 0.044px;
}
